<div class="left shadow1" >
	<div class="left-con center">
		<h5><a href="">系统设置</a></h5>
		<ul>
			<li><a href="{:U('Config/index')}">基本参数</a></li>
		</ul>
		<h5><a href="">学生信息管理</a></h5>
		<ul>
			<li><a href="{:U('Student/index')}">学生列表</a></li>
			<li><a href="{:U('Student/add_student')}">添加学生</a></li>
			<li><a href="{:U('Student/findby_user_id')}">查询学生</a></li>
		</ul>
		<h5><a href="">实验信息管理</a></h5>
		<ul>
			<li><a href="{:U('Project/index')}">项目列表</a></li>
			<li><a href="{:U('Project/add_project')}">添加项目</a></li>
			<li><a href="{:U('Project/findby_proname')}">查询项目</a></li>
		</ul>
		<h5><a href="">分数管理</a></h5>
		<ul>
			<li><a href="{:U('Score/index')}">分数列表</a></li>
			<li><a href="{:U('Score/saveScore')}">分数统计</a></li>
		</ul>
		<h5><a href="">下载</a></h5>
		<ul>
			<li><a href="{:U('Download/download')}">相关文件下载</a></li>
		</ul>
	</div>
</div>