<div class="left shadow1" >
	<div class="left-con center" style="color:#c00c0b">
		<img src="__PUBLIC__/Home/Image/jishao.jpg" style="display:block">
		<ul>
			<li >1.请点击“获取项目”按钮（U型吸铁石）获取当前可以打分的项目；</li>
			<li>2.在方框内输入你所打分数，然后点打分按钮；</li>
			<li>3.如果你打分超过95分或低于70分，请写打分理由.</li>
		</ul>
		
		<a href="<{:U('Student/edit_password')}>" style="position:relative;top:50px;left:20px;weight:900;color:#77f;font-size:20px;font-family:'华文行楷'">修改密码</a><br/>
		<a href="<{:U('Student/about')}>" style="position:relative;top:50px;left:20px;weight:900;color:#77f;font-size:20px;font-family:'华文行楷'">关于</a>
	</div>
</div>